<!DOCTYPE html>
<html>
    <head>
        <title> main layouts </title>
    </head>
    <body>
        <h3 style= "color: red;"> Welcome</h3>
        {{{body}}}
        <hr>
        <h6> here is footer...</h6>
    </body>
</html>