<!DOCTYPE html>
<html>
    <head>
        <title> View Data using Handle Bar </title>
    </head>
    <body>
        
        {{#list data}}
            Name: {{name}}, Age: {{age}}, Occupation: {{Occupation}}, Company: {{company}}
        {{/list}}
    </body>
</html>